<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/xettuyen2026
        </property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name="hibernate.show_sql">true</property>

        // Entity mapping
        <mapping class="com.admissionManagement.core.entity.BangQuyDoi"/>
        <mapping class="com.admissionManagement.core.entity.DiemCongXetTuyen"/>
        <mapping class="com.admissionManagement.core.entity.DiemThiXetTuyen"/>
        <mapping class="com.admissionManagement.core.entity.Nganh"/>
        <mapping class="com.admissionManagement.core.entity.NganhToHop"/>
        <mapping class="com.admissionManagement.core.entity.NguyenVongXetTuyen"/>
        <mapping class="com.admissionManagement.core.entity.ThiSinh"/>
        <mapping class="com.admissionManagement.core.entity.ToHopMonThi"/>

    </session-factory>
</hibernate-configuration>